@page
@model SecretsModel
@{
    ViewData["Title"] = "AKS Web Application - " + @Model.PageTitleSuffix;
}

<div class="text-center">
    <h1 class="display-4">Test Azure Key Vault</h1>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="display-6 mb-3">Retrieve a Secret from Key Vault</h2>
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <form method="post" asp-page-handler="GetSecret" class="mb-4">
                        <div class="form-group mb-3">
                            <label for="keyVaultUrl">Key Vault URL:</label>
                            <input type="url" name="keyVaultUrl" id="keyVaultUrl" placeholder="https://key-vault-url" required class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="secretName">Secret Name:</label>
                            <input type="text" name="secretName" id="secretName" placeholder="secret name" required class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg px-5 py-2 mt-3 mb-4">Get Secret</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="display-6 mb-3">Retrieve a Secret from a CSI volume</h2>
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <form method="post" asp-page-handler="GetCSISecret" class="mb-4">
                        <div class="form-group mb-3">
                            <label for="secretMountPath">Secret Mount Path</label>
                            <input type="text" name="secretMountPath" id="secretMountPath" placeholder="/mnt/secret-store/secretname" required class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg px-5 py-2 mt-3 mb-4">Read Secret</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (Model.Secret != null)
    {
        <div class="row justify-content-center mt-4">
            <h2>Retrieved Secret Value: @Model.Secret</h2>
        </div>
    }
}